.closeButtonArea{
    /*background: red;*/
    position: absolute;
    right: 20%;
    top: 12%;
    z-index: 15;
    transform: translateY(-50%);
}

.none{
    display: none;
}

.closeButton{
    width: 2vw;
    height: 2vw;
}
.videoPlayerArea{
    position: absolute;
    top: 15%;
    right: 20%;
    width: 60%;
    height: 70%;
    z-index: 15;
}

.videoArea{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.videoNameArea{
    position: absolute;
    top: 12%;
    left: 20%;
    color: white;
    z-index: 15;
}

.videoName{
    color: white;
}

.shelfArea{
    position: absolute;
    top: 12%;
    right: 16%;
    width: 2vw;
    height: 2vw;
    background: red;
    border-radius: 1vh;
}

.shelfCloseButton{
    width: 2vw;
    height: 2vw;
    z-index: 15;
}

.blackBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 10;
    opacity: 0;
    transition: opacity ease 1s,visibility linear 1s ;
    visibility: hidden;
}
.blackBgShow{
    opacity: 1;
    visibility: visible;
}
