.eBookReaderArea{
    position: absolute;
    top: 15%;
    left: 22%;
    width: 55%;
    height: 60%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 15;
}

.none{
    display: none;
}

.eBookReaderClose{
    position: absolute;
    top: 10%;
    right: 23%;
    z-index: 15;
}

.closeButton{
    width: 2.5em;
    height: 2.5em;
}

.practiceArea{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 70%;
    background: red;
    z-index: 15;
}

.practiceSider{
    left: 0;
    width: 10%;
    height: 100%;
    overflow: auto;
}

.practiceMainArea{

}

.practiceHeader{
    background: white;
    padding: 0;
}


.centerButton {
    display: block;
    margin: 0 auto;
}
.centerText{
    text-align: center;
}

.practiceContentArea{
    overflow: auto;
}

.taskCard{
    margin-top: 16px;
}

.logo {
    width: 20%;
    height: 64px;
    margin: 0 auto;
}
.practiceTableCloseArea{
    position: absolute;
    top: 15%;
    right: 16%;
    width: 60px;
    height: 60px;
    z-index: 15;
}
.practiceTableCloseButton{
    width: 3em;
    height: 3em;
    z-index: 15;
}
.eBookReaderLoaderProgressArea{
    background: white;
    width: 80%;
}
.eBookReaderLoaderProgress{

}

.blackBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 10;
    opacity: 0;
    transition: opacity ease 1s,visibility linear 1s ;
    visibility: hidden;
}
.blackBgShow{
    opacity: 1;
    visibility: visible;
}
