/*隐藏UI*/
.none {
    display: none;
}

.collegeUI {
    position: absolute;
    right: 0;
    top: 0;
    animation-name: slideFromRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    width: 300px;
    height: 100%;
}

@keyframes slideFromRight {
    0% {
        right: -300px;
    }
    100% {
        right: 0px;
    }
}


.cardImg{
    width: 100%;

}