

.none {
    display: none;
}

.collegeUIRight {
    position: absolute;
    right: -50vw;
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;
    transition: all .5s var(--ease-out-swift);
    --ease-out-swift: cubic-bezier(.55, 0, .1, 1);
    z-index: 120;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1vh);
    padding: 1vh;
}

.collegeUILeft {
    position: absolute;
    left: -50vw;
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;
    transition: all .5s var(--ease-out-swift);
    --ease-out-swift: cubic-bezier(.55, 0, .1, 1);
    z-index: 120;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1vh);
    padding: 1vh;
}


.collegeUIShowLeft{
    left: 5vw;
}

.collegeUIShowRight{
    right: 5vw;
}





.cardImg {
    flex: 1;
    width: 12vw;
    border-radius: 1vw;
}

.cardSideBar{
    flex: 1;
    text-align: center;
    border-radius: 1vw;
}
.cardSideBar h2{
    font-weight: bold;
    color: white;
    font-size: 3vh;
}

.cardInfo{
    flex: 2;
    align-self: start;
    padding: 1vh;
}

.cardInfo h2{
    font-weight: bold;
    color: white;
    font-size: 2vh;

}
.cardInfo p{
    text-indent: 2em;
    color: white;
    font-size: 1.6vh;
}
.studio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.singleStudio{
    flex-basis: 50%;
    align-self: center;
    padding: 1vh;
}

.singleStudio span{
    color: white;
    font-size: 1.4vh;

}
.logo {
    width: 3vw;
    height: 3vw;
    border-radius: 1.5vw;
    margin-right: 1vw;
}

.loading{
    text-align: center;
    color: white;
}
.loading h2{
    font-weight: bold;
    color: white;
}
