.right {
    text-align: right;
    margin-right: 5%;
}

.content {
    position: relative;
    font-size: 0.8rem;
    padding: 1vw;
    color: white;
}

.content h1{
    color: white;
}
.content h2{
    color: white;
}

.image {
    position: absolute;
    bottom: 80%;
    left: -10%;
    width: 300px;
}

.bg {
    width: 45%;
    position: absolute;
    left: 50%;
    bottom: -80vh;
    color: white;
    background: #FF9B2C;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transform:  skew(30deg) translateX(-50%) ;


    transition: bottom .5s var(--ease-out-swift);
    --ease-out-swift: cubic-bezier(.55, 0, .1, 1);

}

.unSkew {
    transform: skew(-30deg);
}

.bgShow {
    bottom: 5vh;
}

