.taskState {
    width: 100%;
    height: 20%;
    margin-top: 20%;
    background: red;
}

.stairCase {
    width: 100%;
    height: 50%;
    margin-top: 10%;
}

.misc {
    width: 100%;
    height: 10%;
    margin-top: 10%;
    background: blue;
}

.playerUi {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    /*background: white;*/
}

.taskTab {
    padding: 5%;
}