.taskState {
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

.stairCase {
    width: 100%;
    height: 50%;
    margin-top: 30%;
    background: transparent;
}

.misc {
    width: 100%;
    height: 10%;
    margin-top: 20%;

}

.playerUi {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    /*background: white;*/
}

.taskTab {
    margin-left: 20%;
    opacity: 0.9;
    margin-right: 5%;
}