.taskState {
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

.stairCase {
    width: 100%;
    height: 50%;
    margin-top: 30%;
    background: transparent;
}

.misc {
    width: 100%;
    height: 10%;
    margin-top: 20%;
}

.playerUi {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    /*background: white;*/
}

.taskTab {
    margin-left: 20%;
    opacity: 0.9;
    margin-right: 5%;
}


.right {
    text-align: right;
    margin-right: 5%;
}

.content {
    position: relative;
}

.image {
    position: absolute;
    bottom: 80%;
    right: -5%;
    width: 300px;
}

.bg {
    width: 45%;
    height: 10%;
    transform: skew(30deg) translate(-50%, -50%);
    background: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    color: white;
    animation-name: slideFromBottom;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    box-shadow: 20px 20px rgba(0,0,0,.15);
}

.unSkew {
    transform: skew(-30deg);
}

.none {
    display: none;
}

@keyframes slideFromBottom {

    0% {
        bottom: -20%;
    }
    100% {
        bottom: 0%;
    }
}