
.notePadSider {
    position: fixed;
    left: 0;
    width: 10%;
    height: 97%;
    overflow: auto;
}

.notePadArea {
    margin-left: 200px
}


.notePadEditor {
    width: 100%;
    height: 97%;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, .2);
    cursor: default;
}
.dragArea{
    width: 100%;
    height: 3%;
    background: #40A9FF;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, .2);
}
.slideButtonText {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.slideButtonText:hover {
    cursor: pointer;
}

.newNote {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.newNote button {
    margin: 0 auto;
}

.header {
    background: white;
    padding: 0;
}

.centerButton {
    display: block;
    margin: 0 auto;
}

.editTitle {
    margin-right: 20px;
}

.openButtonArea {
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
    margin-top: 1vw;
    z-index: 99;
}

.maxZIndex{
    z-index: 99;
}

.openButton {
    width: 100%;
    height: 100%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);

}


.none {
    display: none !important;
}
